body {
    font-family: Consolas, Mononoki, "Roboto Sans", "Liberation Mono", monospace;
    color: #586e75;
    line-height: 1.6;
    background-color: #fdf6e3;}

input[type=text], select{
  width: 800px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
  background-color: #f8f8f8;
  position: relative;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize:none;

  
  positive:relative;
}

button {
 display:inline-block;
 padding: 5px 20px;
 font-weight:400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:#FFFFFF;
  background-color:#3369ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  position:relative;
  text-transform:uppercase;

}
button:active {
  background-color: #F0E68C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1,
h2,
h3 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    line-height: 1.4;
    cursor: text;
}


table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee8d5;
}
h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee8d5;
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}


 hr{
   border-style:dotted none none none;
   border-color:green;
   border-width:5px;
   width: 50%;
 }


h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
    text-decoration: none;
}


.fullBg {
                position: fixed;
                top: 0;
                left: 0;
                overflow: hidden;
            }
            #maincontent {
                position: absolute;
                top: 1;
                left: 1;
                z-index: 50;
            }
			.button {
                border-left: 20px;
                border-right: 10px;
                width: 200px;
                background-color: #DF013A;
                border-color: #DF013A;
            }
            textArea {
                margin: 0 auto;
                width: 810px;
            }
            table th {
                text-align: center;   
            }
            table {
                border-top: 2px solid;
                border-bottom: 2px solid;
            }
            tableArea {
                background-color: #EAF6F6;
            }
